#salesList{
	padding: 10px;
	border: 1px solid black;
	margin-left: 10px;
}

#salesCompleteList{
	padding: 10px;
	border: 1px solid black;
	margin-left: 10px;
}

#product {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

#board_btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#board_btn:hover, a:hover {
  opacity: 0.7;
}

#category{
	padding-bottom: 2em; 
    margin-bottom: 2em;
	border-bottom: 1px solid black;
}

#select_category{
	float:right;
}

#search{
    margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 1em;
	text-align: right;
}
a:link {color:black; text-decoration:none; }
a:visited { color: black; text-decoration: none;}
a:hover { color: red; text-decoration: none;}

#list{
	padding: 10px;
	border: 1px solid black;
	margin-left: 10px;
}

#img_board{ 
	display: inline-block;
/* 	float: left;  */
	padding: 20px;
	margin-left: 20px;
	margin-right: 60px;
}

img{
width:400px;
height:250px;
margin-bottom: 5px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}


#product div span:first-child{
 	float: left;
    width: 50%;  
}   
#addclick{
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    top: 1200px;
    margin-bottom: 60px; 
}

#a2{
margin-right: 20px;
}
*{
font-family: 'Nanum Gothic', sans-serif;
}
#bigcategoryca{
	text-align:center;
}
.category_img{    
	margin-bottom: 40px;
    margin-top: 10px;
	width: 120px;
    height: 70px;
}
#small_category_area{
text-align: center;
height: 50px;
}
