
#upfile {
	display: none
}

#close {
	dosplay: none
}

label img {
	width: 30px
}

#close img {
	width: 15px
}

#btn {
	margin-bottom: 20px;
}

h3 {
	border-bottom: 1px solid;
	font-size: 24px;
	padding-bottom: 10px;
}

#header3 {
	margin-top: 40px;
}
#save{
	    margin-bottom: 100px;
}